.cartcontrol{
  font-size: 0;
  float: right;
  .cart-decrease{
    display: inline-block;
    transition: all 0.4s linear;
    &.move-transition{
      opacity: 1;
      transform: translate3d(0,0,0);
    }
    &.move-enter,&.move-leave-active{
      transition: all 0.4s linear;
      opacity: 0;
      transform: translate3d(24px, 0, 0);
      .el-icon-minus {
        transform: rotate(180deg);
      }
    }
    .el-icon-minus{
      width: 16px;
      height: 16px;
      margin-bottom: -2px;
      color: rgb(0,160,220);
      background: white;
      border: 2px solid rgb(0,160,220);
      text-align: center;
      border-radius: 50%;
      font-size: 12px;
      line-height: 16px;
      transition: all 0.4s linear;
      transform: rotate(0deg);
    }
  }
  .cart-count {
    display: inline-block;
    vertical-align: top;
    width: 12px;
    padding: 0 6px;
    line-height: 20px;
    text-align: center;
    font-size: 10px;
    color: rgb(147,153,159);
  }
  .cart-add{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: rgb(0,160,220);
    color: white;
    border-radius: 50%;
    .el-icon-plus{
      margin-left: 3px;
      margin-top: 3px;
      font-size: 14px;
      line-height: 14px;
    }
  }
}
